rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null && request.auth.token.email == "michelastech@gmail.com";
    }
    match /interventions/{id} {
      allow read: if request.auth != null &&
                     (isAdmin() || resource.data.clientEmail == request.auth.token.email);
      allow create, update, delete: if isAdmin();
    }
  }
}
